In [22]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [23]:
df_pop = pd.read_csv ('../data/population.csv')
df_pop.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,58055.0,...,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,106314.0,NaN
1,Afghanistan,AFG,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,10399926.0,...,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,38041754.0,NaN
2,Angola,AGO,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,5774243.0,...,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,31825295.0,NaN
3,Albania,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,NaN
4,Andorra,AND,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,...,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,77142.0,NaN

# change the orientation of the df

In [24]:
df_pop = df_pop.T.reset_index()

In [25]:
df_pop

,index,0,1,2,3,4,5,6,7,8,...,254,255,256,257,258,259,260,261,262,263
0,Country Name,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
1,Country Code,ABW,AFG,AGO,ALB,AND,ARB,ARE,ARG,ARM,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
2,1960,54211,8.99697e+06,5.45493e+06,1.6088e+06,13411,9.21978e+07,92418,2.04818e+07,1.87412e+06,...,32500,3.267e+07,63689,3.03144e+09,108629,947000,5.31536e+06,1.70998e+07,3.07078e+06,3.77668e+06
3,1961,55438,9.16941e+06,5.53147e+06,1.6598e+06,14375,9.47245e+07,100796,2.08173e+07,1.94149e+06,...,34300,3.36661e+07,65705,3.07248e+09,112105,966000,5.39304e+06,1.75245e+07,3.16433e+06,3.90503e+06
4,1962,56225,9.35144e+06,5.60854e+06,1.71132e+06,15370,9.73344e+07,112118,2.11531e+07,2.00953e+06,...,35000,3.46834e+07,67794,3.12546e+09,115776,994000,5.47367e+06,1.79657e+07,3.26065e+06,4.0392e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2016,104872,3.53831e+07,2.88425e+07,2.8761e+06,77297,4.04024e+08,9.36098e+06,4.35904e+07,2.93615e+06,...,107510,9.36387e+07,278330,7.42429e+09,194535,1.77756e+06,2.71682e+07,5.62037e+07,1.63635e+07,1.40304e+07
59,2017,105366,3.62964e+07,2.98167e+07,2.87346e+06,77001,4.11899e+08,9.4872e+06,4.40448e+07,2.94481e+06,...,107268,9.45966e+07,285510,7.50907e+09,195352,1.791e+06,2.78348e+07,5.70005e+07,1.68537e+07,1.42367e+07
60,2018,105845,3.71724e+07,3.08098e+07,2.86638e+06,77006,4.19791e+08,9.63096e+06,4.44945e+07,2.95178e+06,...,106977,9.55404e+07,292680,7.59195e+09,196130,1.79708e+06,2.84987e+07,5.77796e+07,1.73518e+07,1.4439e+07
61,2019,106314,3.80418e+07,3.18253e+07,2.85419e+06,77142,4.2787e+08,9.77053e+06,4.49387e+07,2.95773e+06,...,106631,9.64621e+07,299882,7.67353e+09,197097,1.79425e+06,2.91619e+07,5.85583e+07,1.7861e+07,1.46455e+07
62,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# give the first row, the name of the second row

In [26]:
df_pop.rename(columns=df_pop.iloc[0], inplace = True)

In [29]:
df_pop.drop(df_pop.index[0:1], inplace= True)

In [30]:
df_pop

,Country Name,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
2,1960,54211,8.99697e+06,5.45493e+06,1.6088e+06,13411,9.21978e+07,92418,2.04818e+07,1.87412e+06,...,32500,3.267e+07,63689,3.03144e+09,108629,947000,5.31536e+06,1.70998e+07,3.07078e+06,3.77668e+06
3,1961,55438,9.16941e+06,5.53147e+06,1.6598e+06,14375,9.47245e+07,100796,2.08173e+07,1.94149e+06,...,34300,3.36661e+07,65705,3.07248e+09,112105,966000,5.39304e+06,1.75245e+07,3.16433e+06,3.90503e+06
4,1962,56225,9.35144e+06,5.60854e+06,1.71132e+06,15370,9.73344e+07,112118,2.11531e+07,2.00953e+06,...,35000,3.46834e+07,67794,3.12546e+09,115776,994000,5.47367e+06,1.79657e+07,3.26065e+06,4.0392e+06
5,1963,56695,9.54320e+06,5.67946e+06,1.76262e+06,16412,1.00034e+08,125130,2.14889e+07,2.07758e+06,...,39800,3.57212e+07,69946,3.19056e+09,119559,1.022e+06,5.55677e+06,1.84232e+07,3.3601e+06,4.17873e+06
6,1964,57032,9.74478e+06,5.73504e+06,1.81414e+06,17469,1.02833e+08,138039,2.18244e+07,2.145e+06,...,40800,3.678e+07,72115,3.25606e+09,123342,1.05e+06,5.6416e+06,1.88963e+07,3.46321e+06,4.32286e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2016,104872,3.53831e+07,2.88425e+07,2.8761e+06,77297,4.04024e+08,9.36098e+06,4.35904e+07,2.93615e+06,...,107510,9.36387e+07,278330,7.42429e+09,194535,1.77756e+06,2.71682e+07,5.62037e+07,1.63635e+07,1.40304e+07
59,2017,105366,3.62964e+07,2.98167e+07,2.87346e+06,77001,4.11899e+08,9.4872e+06,4.40448e+07,2.94481e+06,...,107268,9.45966e+07,285510,7.50907e+09,195352,1.791e+06,2.78348e+07,5.70005e+07,1.68537e+07,1.42367e+07
60,2018,105845,3.71724e+07,3.08098e+07,2.86638e+06,77006,4.19791e+08,9.63096e+06,4.44945e+07,2.95178e+06,...,106977,9.55404e+07,292680,7.59195e+09,196130,1.79708e+06,2.84987e+07,5.77796e+07,1.73518e+07,1.4439e+07
61,2019,106314,3.80418e+07,3.18253e+07,2.85419e+06,77142,4.2787e+08,9.77053e+06,4.49387e+07,2.95773e+06,...,106631,9.64621e+07,299882,7.67353e+09,197097,1.79425e+06,2.91619e+07,5.85583e+07,1.7861e+07,1.46455e+07
62,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN